<h2>Welcom to <%= @flat.users.name %> flat</h2>
<ul>
  <li><%= @flat.street %></li>
  <li><%= @flat.zip_code %></li>
  <li><%= @flat.city %></li>
  <li><%= @flat.capacity %></li>
  <li><%= @flat.description %></li>
</ul>
<%= link_to "All flats", flats_path, class: "btn btn-primary"%>