<div class="container padded">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= simple_form_for(@flat, html: { multipart: true }) do |f| %>
      <%= f.input :title %>
      <%= f.input :address %>
      <%= f.input :capacity %>
      <%= f.input :description %>
      <%= f.input :price %>

      <!-- <%= f.label :picture %>
      <%= f.file_field :picture %> -->

      <%= f.file_field :picture, class: 'filestyle',
       :'data-classButton' => 'btn btn-primary',
       :'data-input' => 'false', classIcon:  'icon-plus',
       :'data-buttonText' => 'Ajouter une photo'  %>

      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
