<div class="container padded">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= simple_form_for(@flat, html: { multipart: true }) do |f| %>
      <%= f.input :street %>
      <%= f.input :capacity %>
      <%= f.input :zip_code %>
      <%= f.input :city %>
      <%= f.input :description %>
      <%= f.label :picture %>
      <%= f.file_field :picture %>

      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
