<div class = "container">
  <div>
    <%= form_tag(flats_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search flats" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>

  <h1>Search Result</h1>
  <% @flats.each do |flat|%>
  <div class = "row" id="wrapper">
    <%= flat.description %>
    <%= flat.city %>
    <%= flat.user.email %>
  </div>
  <div><%= image_tag "http://placehold.it/450x200" %>
    <%=  %>
  </div>
  <% end %>
</div>
