<h1 class="text-center">Welcome to <%= @flat.title %></h1>
<div class="m-b"></div>
<div class="container">

  <div class="row">
      <div class="col-xs-12 col-md-5 col-md-offset-1">
      <%= image_tag @flat.picture.url(:medium) %>
    </div>
      <div class="col-xs-12 col-md-5">
        <div class="cadre-price text-center m-b">
          <div class="price text-center m-b">
              A partir de
            <%= @flat.price %> €
          </div>
          <!-- <button type="button" class="btn btn-success btn-lg text-center">Demande de reservation</button> -->
          <%= link_to t(".top_call_to_action", default: "Demande de réservation"), new_flat_reservation_path(@flat[:id]), class: "btn btn-success btn-lg text-center" %>
        </li>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="m-b"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-5">
        <h4 class="text-center m-b">À propos de ce logement</h4>
        <p class="justify"><%= @flat.description %></p>
    </div>
    <div class="col-xs-12 col-md-5 col-md-offset-1">
      <div class="cadre-photo text-center m-b">
        <%= image_tag @flat.user.picture(:medium), class: "img-avatar m-b" %>

        <h4><%= @flat.user.first_name + " " + @flat.user.last_name %></h4>
      </div>

    </div>
  </div>
</div>






