<h1 class="text-center">Welcome to <%= @flat.description %></h1>
<div class="m-b"></div>
<div class="container">

  <div class="row">
      <div class="col-xs-12 col-md-5 col-md-offset-1">
      <%= image_tag @flat.picture.url(:medium) %>
    </div>
      <div class="col-xs-12 col-md-5">
        <div class="cadre-price text-center m-b">
          <div class="price text-center m-b">
              A partir de
            <%= @flat.price %> €
          </div>
          <button type="button" class="btn btn-success btn-lg text-center">Demande de reservation</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="m-b"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-5">
        <h4 class="text-center">À propos de ce logement</h4>
        <p><%= @flat.description %></p>
    </div>
    <div class="col-xs-12 col-md-5 col-md-offset-1">
      <div class="cadre-photo text-center m-b">
        <%= image_tag @flat.user.picture(:medium), class: "img-avatar" %>
      </div>

    </div>
  </div>
</div>
  <div class = "row"><%= @flat.street %></div>
  <div class = "row"><%= @flat.zip_code %></div>
  <div class = "row"><%= @flat.city %></div>
  <div class = "row"><%= @flat.capacity %></div>





