<div class="container">

  <div class="row">
    <div class="col-xs-3 text-center">

      <%= image_tag @user.picture.url(:medium) %> <br> <br>
      <%= @user.first_name %>
      <%= @user.last_name %> <br><br>
      <%= link_to edit_user_path(current_user[:id]) do %>
        <i class="fa fa-cog fa-spin"></i> <%= t ".profile", default: "Modifier votre profil" %>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      <% end %>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-6">
      <%= link_to profile_path(current_user[:id]) do %>
        <i class="fa fa-building"></i> <%= t ".profile", default: "Mes appartements" %> <br><br>
      <% end %>
      <div>
        <% @user.flats.each do |flat| %>
        <%= link_to flat_path(flat) do %>
          <%= image_tag flat.picture1 %> <strong><%= flat.title %></strong><br>
        <% end %>
        <%= flat.address %>
        <%= "#{flat.price} €/nuit "%> <br>
        <% end %>

        <br>
        <div>
          <%= render 'form_update_reservation' %>
        </div>
        <br>
        <br>
      </div>
      <%= link_to  users_reservations_path() do %>
        <i class="fa fa-globe"></i> <%= t ".profile", default: "Mes reservations" %>
      <% end %>
    </div>

  </div>
</div>

