<div class="container">
  <div class="row padded">
    <div class="col-xs-3 text-center">
      <%= image_tag @user.picture.url(:medium) %> <br> <br>
      <%= @user.first_name %>
      <%= @user.last_name %> <br><br>
      <%= link_to edit_user_path(current_user[:id]) do %>
        <i class="fa fa-cog fa-spin"></i> <%= t ".profile", default: "Modifier votre profil" %>
      <% end %>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-6">
      <%= link_to flats_path(current_user[:id]) do %>
        <i class="fa fa-building"></i> <%= t ".profile", default: "Mes appartements" %>
      <% end %>
      <div>
        <% @user.flats do |flat| %>
        <%= flat.picture1 %>
        <%= flat.city %>
        <%= flat.price %>
        <% end %>

        <br>
        <br>
        <br>
      </div>
      <%= link_to  flat_reservations_path(@user.flats) do %>
        <i class="fa fa-globe"></i> <%= t ".profile", default: "Mes reservations" %>
      <% end %>
    </div>

  </div>
</div>

