<div id="banner">
  <div class="box-shadow">
    <div class="absolute title-home"><h1>WELCOME HOME</h1>
    </div>
  <div class ="search-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-12 form-inline mt-20 text-center form-group" id="exampleInputVille" placeholder="Où souhaitez-vous aller ?">
            <%= form_tag flats_path, :id => 'search_welcome', method: :get do %>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search" , class: "btn btn-primary btn-search" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>

  </div>
</div>
  <div class ="titre-home text-center">
    <h2>Travel the world</h2>
  </div>
  <div class="container text-center padding-bottom-40 rounded">
    <div class="row">
      <% @flats.each do |flat| %>
        <div class="col-md-4">
          <div class="relative">
            <%= link_to flat_path(flat[:id]) do %>
              <%= image_tag flat.picture.url(:medium) , width: 300, alt: 'a face that is unnervingly happy', :class => "card relative" %>
            <% end %>
            <div class="vignette-price">
              <h4><%= flat.price %>€</h4>
            </div>
            <div class="image-user">
            <%= image_tag flat.user.picture(:thumb), :width => 50, class: "img-circle circle" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>