<div id="banner">
  <div class = "search-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-12 form-inline mt-20 text-center form-group" id="exampleInputVille" placeholder="Où souhaitez-vous aller ?">
            <%= form_tag flats_path, :id => 'search_welcome', method: :get do %>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search" , class: "btn btn-primary btn-search" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>
  <div class ="titre-home text-center">
    <h2>Welcome Home</h2>
  </div>
  <div class = "container text-center margin-20">
    <div class = "row">
      <div class = "col-sm-12 col-md-4">
        <%= image_tag "img3.png" %>
        <h3>Travel</h3>
        <p>Anywhere in France</p>
      </div>
      <div class = "col-sm-12 col-md-4">
        <%= image_tag "img1.png" %>
        <h3>Rent a house</h3>
        <p>To a host and make yourself at home</p>
      </div>
      <div class = "col-sm-12 col-md-4">
        <%= image_tag "img2.png" %>
        <h3>Enjoy</h3>
        <p>Appreciate your trip thanks to AirBnB</p>
      </div>
    </div>
  </div>
  <div class ="titre-home text-center">
    <h2>Welcome Home</h2>
  </div>
  <div class="container">
    <div class="row">
      <% @flats.each do |flat| %>
        <div class="col-xs-12 col-md-4 text-center vignette">
          <div class="card">
           <!--  <%= image_tag flat.picture.url(:medium) %> -->
           <%= link_to(image_tag(flat.picture.url(:medium)), flat_path(flat[:id])) %>
          </div>
          <div class="vignette-price">
            <h4><%= flat.price %>€</h4>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>