<div class="container">
<br>
<h1 class="text-center">My Reservations</h1><br>
    <h2 class="text-center">Send us a card !</h2> <br>
<% number = 0 %>
<% @reservations.each do |reservation| %>
  <div class="col-md-6" id="reservation-window-confirmation">
    <div class=text-center>
      <% number += 1 %>
      <% @flat = Flat.find(reservation.flat_id) %>


      <%= link_to flat_reservation_path(reservation.flat, reservation) do %>
        <h2><%= "Reservation #{number}" %></h2>
      <% end %>

      <%= link_to flat_path(@flat) do %>
        <%= image_tag @flat.picture.url(:thumb) %> <br>
      <% end %>

      <%= link_to flat_path(@flat) do %>
        <%= "Your appartment: #{@flat.title}" %> <br>
      <% end %>

      <% @user = User.find(reservation.user_id) %>
      <%= "Date of arrival: #{reservation.begin_date}" %> <br>
      <%= "Date of departure: #{reservation.end_date}" %> <br> <br>

    </div>
  </div>
<% end %>

</div>