<h1>Reservations</h1>
Booking Form

<div class="row">
  <!-- html: {class: 'form-vertical'}) -->
  <%= simple_form_for([@flat, @reservation]) do |f| %>
  <%= f.error_notification %>
  <% end %>
  <h2>Select Your Departure Date</h2>

  <%= f.input :departure_date, collection: @departures_options %>

  <h2> Enter Guests Information:</h2>
  <%= f.simple_fields_for :guests do |g|%>
  <h3> <%= "Guest #{index += 1}" %> </h3>
  <%= g.input :title, as: :select %>
  <%= g.input :first_name %>
  <%= g.input :last_name %>
  <%= g.input :citizenship, collection: Country.all %>
  <%= g.input :gender, as: :radio_buttons %>
  <%= g.input :date_of_birth, as: :string, label: 'Date of birth (YYYY/MM/DD)' %>
  <%= g.input :address %>
  <%= g.input :postal %>
  <%= g.input :city %>
  <%= g.input :country, collection: Country.all %>
  <%= g.input :phone, as: :tel %>
  <%= g.input :mobile, as: :tel %>
  <%= g.input :email, as: :email %>
    <div class="span">
      <%=f.input :fare_id, as: :hidden %>
      <%=f.input :cruise_id, as: :hidden %>
      <%=f.button :submit, "Submit Bid", class: "btn btn-large btn-danger", "data-disable-with" => "Submitting.." %>
      <% end %>
    </div>
</div>


